# Project exclude paths
/.gradle/
/androidsaripaarmaster/build/
/androidsaripaarmaster/build/intermediates/javac/debug/classes/
/nativetemplates/build/
/nativetemplates/build/intermediates/javac/debug/classes/
/SmoothCheckBox-master/build/
/SmoothCheckBox-master/build/intermediates/javac/debug/classes/